

.titles {
    
    float: right;
    margin-right: 150px;
    margin-top: 85px;
    font-family: "Protest Strike", sans-serif;
    font-size: 60px;
    text-shadow: 8px 0 3px #000000, 5px 0 5px #1b1b1b;
    color: white;
    font-style: italic;
}


.container {
    margin:0;
    padding: 0;
    
}